.App {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(95, 158, 160, 0.81);
  box-shadow: 0 0 10px 2px rgba(173, 94, 94, 0.65);
  margin: 0;
  min-height: 300px;
}
